<% layout("layouts/boilerplate")%>
    <h1>Edit Menu</h1>

    <% for(dish of restaurant.dish){ %>
        <h1>
            <%= dish.title%>
        </h1>
        <form action="/restaurants/<%= restaurant._id %>/dishes/<%= dish._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <% } %>

            <a href="/restaurants/<%= restaurant._id %>">Back to Restaurant</a>